
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a routerLink="home" class="navbar-brand">
      Travel and Share
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
  <div class="nav-link" id="newplace">
    <a class="nav-item nav-link active" routerLink="add"  >Share a new place !</a>
  </div>
      </div>
    </div>
</nav>
</div>
