<div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{place.name}}</h5>
      <p class="card-text">County : {{place.county}}</p>
      <p class="card-text">Type : {{place.type}}</p>
      <p class="card-text">Grade : {{place.grade}}</p>
    </div>
  </div>
  <div class="shadow">
    <app-photo-carroussel></app-photo-carroussel>
  </div>
</div>
<div class="reviewList">
  <app-reviews-list></app-reviews-list>
</div>
<p class="card-text"></p>

