<div class="container-fluid">
  <div class="row">
    <div class="col">
      <label for="county">Choose a county : </label>
      <select [(ngModel)]="selectedCounty" id="county" (ngModelChange)="sendSelectedCounty()" class="custom-select">
        <option *ngFor="let county of counties">{{county}}</option>
      </select>
    </div>
    <div class="col">
      <label for="type">Choose type of activity : </label>
      <select [(ngModel)]="selectedType" id="type" (ngModelChange)="sendSelectedType()" class="custom-select">
        <option *ngFor="let type of types" >{{type}}</option>
      </select>
    </div>
    <div>
      <label for="grade">Grade : </label>
      <select id="grade" class="custom-select starrating">
        <option>&#9733; &#9734; &#9734; &#9734; &#9734; </option>
        <option>&#9733; &#9733; &#9734; &#9734; &#9734; </option>
        <option>&#9733; &#9733; &#9733; &#9734; &#9734; </option>
        <option>&#9733; &#9733; &#9733; &#9733; &#9734; </option>
        <option>&#9733; &#9733; &#9733; &#9733; &#9733; </option>
      </select>
    </div>
  </div>
  <p>Component selected county : {{selectedCounty}}</p>
</div>


