<div class="shadow container">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <h1>
        {{place.name}}
      </h1>
    </div>
    <div class="col text-right">
      <p>
        {{(place.grade)}}
      </p>
    </div>
  </div>
  <div class="row">
    <p>Description...... (à ajouter) Nullam in consequat lorem. Aenean ac justo diam. Donec consectetur elit ac velit lacinia condimentum. Sed non efficitur magna. Nulla vitae turpis gravida, malesuada purus sit amet, condimentum eros.</p>
  </div>
</div>
<div class="card" *ngFor ="let place of places" routerLink="/placeDescription/{{place.id}}" routerLinkActive="active">
  <p class="title">{{place.name}}</p>
  <p><span class="grade"> Grade : </span> {{place.grade}}</p>
  <p>Description...... (à ajouter) Nullam in consequat lorem. Aenean ac justo diam. Donec consectetur elit ac velit lacinia condimentum. Sed non efficitur magna. Nulla vitae turpis gravida, malesuada purus sit amet, condimentum eros.</p>
</div>
